<h2> RAP CAVIAR GENDER TRACKER</h2>

<p>
	As of {{ latest_count.date_created }}, there are <b>{{ latest_count.M}} male</b> artists, <b>{{ latest_count.F }} female</b> artists, and {{ latest_count.X}} artists whose gender could not be automatically determined.
</p>

<p>
	Here's what's missing: <br>
	<iframe src="https://open.spotify.com/embed/user/ndemakos99/playlist/432SY3wzgHzcHUHcqkdmw7" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
</p>

<p>
	<em>
	<ul>***Genders are reverse-engineered from pronouns in <a href="http://allmusic.com">AllMusic</a> bios.</ul>
	<ul>***Gender is a spectrum but this is explicitly about Rap Caviar being predominantly male.</ul>
</em>
</p>